*.la
*.lo
*.o
INSTALL
config.h.in
.libs/
/Makefile
/CMakeLists.txt.user
conf/02-fred-mod-whoisd-apache.conf
config.h
/fred-mod-whoisd.spec
test_whois.py
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
lib/
doxygen/
external/
generated/
build.ninja
rules.ninja
.ninja_deps
.ninja_log
